

nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarTogglerDemo03", aria-        controls="navbarTogglerDemo03", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="#") Furnish
        .collapse.navbar-collapse#navbarTogglerDemo03
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(href="#", aria-current="page") Home
                li.nav-item
                    a.nav-link(href="#") About 
            form.d-flex.gap-2
                button.btn.btn-outline-primary(type="button") Login
                button.btn.btn-outline-dark(type="button") Sign up













